.ninja_deps
.ninja_log
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
architectds/__pycache__/architectds.cpython-310.pyc
ignore/bg0.png
ignore/bg2.png
ignore/bg31.png
ignore/bg3.png
ignore/star_sprite.png
ignore/TicTacToe.png
ignore/TicTacToeTop.png
ignore/TicTacToeBottom.png
ignore/nfl.png
ignore/planet1.png
ignore/bg1.png
architectds/__pycache__/__init__.cpython-310.pyc
architectds/__init__.py
architectds/architectds.py
helpful.md
